<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ReadingApp"
        tools:targetApi="31">
        <activity
            android:name=".user.userProfile"
            android:exported="false" />
        <activity
            android:name=".user.userChapter"
            android:exported="false" />
        <activity
            android:name=".user.userSearch"
            android:exported="false" />
        <activity
            android:name=".user.userFavorite"
            android:exported="false" />
        <activity
            android:name=".admin.UploadChapterActivity"
            android:exported="false" />
        <activity
            android:name=".admin.WriteChapterActivity"
            android:exported="false" />
        <activity
            android:name=".admin.inputAccount"
            android:exported="false" />
        <activity
            android:name=".admin.adminAccount"
            android:exported="false" />
        <activity
            android:name=".admin.adminGenre"
            android:exported="false" />
        <activity
            android:name=".admin.addStoryActivity"
            android:exported="false" />
        <activity
            android:name=".admin.adminStory"
            android:exported="false" />
        <activity
            android:name=".admin.adminChapter"
            android:exported="false" />
        <activity
            android:name=".admin.adminChart"
            android:exported="false" />
        <activity
            android:name=".user.userMain"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".ChapterContent"
            android:exported="false" />
        <activity
            android:name=".LogIn"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>